<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/room.css') }}">
    <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/room.js') }}"></script>
    <title>Ping Pong Game</title>
</head>
<body>

     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand">PingPong</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">PingPong</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="split-screen">
        <!-- Left Form -->
        <div class="right-form bg-dark text-white">
          <h2 class="text-center">Create Room</h2>
          <form>
            <div class="mb-3">
              <label for="player1" class="form-label">Player 1 Name</label>
              <input type="text" class="form-control" id="player1" placeholder="Enter player 1 name">
            </div>
            <div class="mb-3">
              <label for="player2" class="form-label">Player 2 Name</label>
              <input type="text" class="form-control" id="player2" placeholder="Enter player 2 name">
            </div>
            <button type="submit" class="btn btn-primary w-100">create</button>
          </form>
        </div>
  
        <!-- Divider -->
        <div class="divider"></div>
  
        <!-- Right Form -->
        <div class="right-form bg-dark text-white">
          <h2 class="text-center">Enter Room Code</h2>
          <form>
            <div class="mb-3">
              <label for="code" class="form-label">Room Code</label>
              <input type="text" class="form-control" id="code" placeholder="Enter your Room Code">
            </div>
            <button type="submit" class="btn btn-success w-100">Enter Room</button>
          </form>
        </div>
    </div>

    </body>
</html>
